<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UNF Osprey's Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Educational Analytics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.DropDownList("google.com", new SelectList(new[]{
                            new SelectListItem { Text = "Southeast", Value = Url.Action("Contact", "Home") },
                            new SelectListItem { Text = "Northwest", Value = Url.Action("Contact", "Home") },
                            new SelectListItem { Text = "North", Value = Url.Action("Contact", "Home") },
                            }, "Value", "Text"), "Regions",new { id = "urlddl" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4 text-left">
                    <p>&copy; @DateTime.Now.Year - University of North Florida Osprey's Application</p>
                </div>
                <div class="col-md-4 text-center">
                    <button>Contact Us</button>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-social-icon btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="btn btn-social-icon btn-instagram">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <a class="btn btn-social-icon btn-google">
                        <span class="fa fa-google"></span>
                    </a>
                    <a class="btn btn-social-icon btn-linkedin">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <a class="btn btn-social-icon btn-tumblr">
                        <span class="fa fa-tumblr"></span>
                    </a>
                    <a class="btn btn-social-icon btn-yahoo">
                        <span class="fa fa-yahoo"></span>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
